name: Bigquery Linting and Syntax checker

on: 
  pull_request:
  push:
    branches: 
      - develop
        
jobs:
  pre-commit:
    name: linting and syntax format

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
    
    # Linting
    - name: Linting
      run: |
        python3 -m pip install --upgrade pip
        pip3 install sqlfluff
        sqlfluff lint --nofail ./etls/evaluation/game-1/load_scripts/*.sql --dialect bigquery
   
   # Syntax format
   # - name: Syntax formatting
   #   run: |
   #     sqlfluff fix ./etls/evaluation/game-1/load_scripts/*.sql --dialect bigquery
        
   # Lint after fixing the fixable errors
   # - name: Lint again after fix
   #   run: |
   #     sqlfluff lint ./etls/evaluation/game-1/load_scripts/*.sql --dialect bigquery
